<!DOCTYPE html>
<html>
  <head>
    <title>Chat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- navbar -->
    <%= render 'layouts/navbar' %>

    <div class="fluid-container" style="margin-top: 70px">
      <div class="row">
        <!-- sidebar -->
        <%= render 'layouts/sidebar' %>

        <div class="col-sm-10 col-sm-offset-2">
          <%= yield %>
        </div>
      </div>
    </div>

  </body>
</html>
